body{
    font-family: 'Open Sans', sans-serif;
    font-wight:700;
    margin:0px;}

h1,h2,h3{
    font-family: 'Poppins', sans-serif;
    font-wight:900;}



.nav{
    display:flex;
    justify-content:space-between;
    margin:50px ;
    align-items:center;}

.nav-logo{}

.nav-button{
    border:1px solid hsl(322, 100%, 66%);
    border-radius:50px;
    height:30px;
    width:100px;
    background:white;
    color:hsl(322, 100%, 66%);}

.nav-button:hover{
   background: hsl(322, 100%, 66%);
    color:white;}

/*.container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1r));}
    */

.header{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    text-align:center;width:50%;
    margin:0 auto;}

.header > p{
    width:60%;
    margin:0px 0px 20px 0px;}

.header-button{
    width:250px;
    height:50px;
    border:none;
    border-radius:50px;
    background: hsl(321, 100%, 78%);
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;}


.header-button:hover{
    background:hsl(322, 100%, 66%);}



.section1{
    background-image:url("images10/screen-mockups.svg");
    background-position:center center;
    background-repeat:no-repeat;
    height:400px;
    background-size:50% 100%;
    margin-top:50px;}


.section2{
    margin:70px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;}

.section2items :nth-child(n){
    margin:5px;}


.section3{
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin:70px;
    background-image:url("images10/bg-section-bottom-desktop-1.svg"),url("images/bg-section-top-desktop-2.svg");
    background-repeat:no-repeat;
    background-size:100% 100%,100% 100%;
    margin:0px;}

.section3-left{
    width:40%;}


.section3-right{
    width:50%;
    background-image:url("images10/illustration-flowing-conversation.svg");
    background-position:center center;
    background-repeat:no-repeat;
    height:300px;
    background-size:70% 100%;}

.section4{
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin:70px;}

.section4-right{
    width:50%;}


.section4-left{
    width:40%;
    background-image:url("images10/illustration-your-users.svg");
    background-position:center center;
    background-repeat:no-repeat;
    height:300px;
    background-size:70% 100%;}


.section5{
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin:70px;
    background-image:url("images10/bg-section-bottom-desktop-1.svg"),url("images/bg-section-top-desktop-2.svg");
    background-repeat:no-repeat;
    background-size:100% 100%,100% 100%;
    margin:0px;}

.section5-left{
    width:40%;}


.section5-right{
    width:50%;
    background-image:url("images10/illustration-grow-together.svg");
    background-position:center center;
    background-repeat:no-repeat;
    height:300px;
    background-size:70% 100%;}

.section6{
    margin:70px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;}


.footer{
    color:white;
    padding:0px;
    display:flex;
    justify-content:space-evenly;
    margin:0px;}


.footerback{
    background-image:url("images10/bg-footer-top-desktop.svg");
    background-repeat:no-repeat;
    height:155px;
    width:100%;}

.footer-left{
    background:hsl(192, 100%, 9%);
    Padding:100px;
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content:center;
    }


.footer-left > p{
   width:75%;}

.socials{
    display:flex;
    gap:10px;
    align-items:end;
    margin-top:20px;}

.footer-right{
    background:hsl(192, 100%, 9%);
    Padding:100px;
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content:start;
    gap:0px;}


.footer-right > h1{
    margin-bottom:10px;}

.footer-right > p{
    width:80%;
    margin-top:0px;
    margin-bottom:30px;}

.footer-input{
    width:200px;
    height:30px;}

.footer-button{
    width:110px;
    height:35px;
    color:white;
    background:hsl(321, 100%, 78%);
    border:none;
    border-radius:5px;}

.footer-button:hover{
   background:hsl(322, 100%, 66%);}
